body{
    background-color: #DFF5FF;
}
h2 {
  font-size: 2.5rem ;
  text-align: center;
  color: #5356FF;
}
.fs-1{
  font-size: 3rem;
  font-weight: bolder;
  color: #5356FF;
  
}
h3{
  font-size: 2.0rem;
  text-align: center;
  color: #5356FF;
}
.elements {
  text-align: center;
  margin: 20px;
}
.title { font-size: 3.0rem; }
p { 
  font-size: 3.0rem;
  margin: 10px;
  border: 2px solid #5356FF;
  border-radius: 25px;
  background-color: #67C6E3;
  color: #DFF5FF;
}
.contents { font-size: 3.0rem; }
.units { font-size: 1.5rem; }
.dht-labels{
  font-size: 1.5rem;
  vertical-align:middle;
}
.graphs{
    display: block;
    justify-content: center;
    align-items: center;

}
.container{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}


@media screen and (min-width: 768px){
  .components{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  h2{
    padding-left: 50px;
    text-align: left;
  }
  .fs-1{
    padding-left: 50px;
  }
  .d-inline-flex{
    padding-right: 50px;
  }
  h3{
    padding-left: 50px;
    text-align: left;
  }
}

.toggle {
  appearance: none;
  position: relative;
  font-size: 1em;
  border: max(1px, 0.05em) solid;
  border-radius: 2em;
  width: 8em; /* Increased width */
  height: 3em; /* Increased height */
  aspect-ratio: 1; /* Added aspect-ratio property */
  background: #67C6E3;
  box-sizing: content-box;
  overflow: hidden;
  
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1.8em;
    width: 1.4em; /* Adjusted width */
    height: 1.4em; /* Adjusted height */
    background-size: 1.4em 0.7em;
    background-position: 0 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-position 0.75s, left 0.75s;
    border: 1px solid #000;
    background-color: red;
    box-shadow: inset 0.1em 0 0.1em #0008, inset -0.1em 0 0.1em #0008;
  }
  
  &:checked {
    &::before {
      left: calc(100% - 1.8em); /* Adjusted left position */
      background-position: 1.4em 0;
      background-color: green;
    }
  }
  
  &[disabled] {
    opacity: 0.25;
  }
}

@media print {
  .toggle {
    &, &::before, &::after {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@media (prefers-reduced-motion) {
  .toggle {
    &, &::before, &::after {
      transition: none !important;
      animation: none !important;
    }
  }
}
